<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TesteWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <TesteWebService.Properties.Settings>
            <setting name="TesteWebService_WebServiceTeste_WebServiceTeste"
                serializeAs="String">
                <value>https://apps.cm-gaia.pt/apps/webserviceteste.asmx</value>
            </setting>
        </TesteWebService.Properties.Settings>
    </applicationSettings>
</configuration>